---
import "../../styles/global.css";

import { default as encodeGravatarEmail } from "js-md5";
import { CollectionEntry, getCollection } from "astro:content";

import LandingPageBackground from "../../components/LandingPageBackground.astro";
import Navigation from "../../components/Navigation.astro";
import Head from "../../components/Head.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => {
        return {
            params: {
                slug: post.slug,
            },
            props: {
                post,
            },
        };
    });
}

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<html lang="en">
    <head>
        <Head />
        <title>{post.data.title}</title>
    </head>
    <body class="noise-wrapper">
        <div class="noise"></div>
        <LandingPageBackground />
        <Navigation />
        <main class="flow-content">
            <h1 class="text-heading">{post.data.title}</h1>
            <time class="sr-only">{post.data.date}</time>
            <div class="author">
                <img
                    src={"https://www.gravatar.com/avatar/" +
                        encodeGravatarEmail("office.samigo.a@gmail.com")}
                    alt="Author"
                    class="author__image"
                />
                <div class="author__name">Samuel Braun</div>
            </div>
            <Content />
        </main>
        <style>
            main {
                max-width: 80ch;
                margin: 0 auto;
            }

            h1 {
                margin-top: 10vh;
            }

            .author {
                display: flex;
                align-items: center;
                margin-top: 2rem;
            }

            .author__image {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                margin-right: 1rem;
            }

            .noise {
                position: fixed;
            }
        </style>
    </body>
</html>
