---
import "../styles/global.css";

import Navigation from "../components/Navigation.astro";
import LandingPageBackground from "../components/LandingPageBackground.astro";
import Head from "../components/Head.astro";
---

<html lang="en">
    <head>
        <Head />
        <title>asd</title>
    </head>
    <body>
        <LandingPageBackground />
        <Navigation />
    </body>
</html>
