---
import "../styles/global.css";
import { getCollection } from "astro:content";

import Navigation from "../components/Navigation.astro";
import Head from "../components/Head.astro";
import Analytics from "../components/Analytics.astro";
import ArrowDown from "../components/icons/ArrowDown.astro";
import Footer from "../components/Footer.astro";

const posts = await getCollection("blog");
const schema = {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    name: "Webry",
    url: "https://www.webry.com/",
};
---

<html lang="en">
    <head>
        <Head />
        <title>Webry | The Modern Web Blog</title>
        <meta
            name="description"
            content="Welcome to The Modern Web Blog. Here you will find articles on modern web development, best practices, and more."
        />
        <link rel="canonical" href="https://www.webry.com/" />
        <script type="application/ld+json" set:html={schema}></script>
        <Analytics />
    </head>
    <body>
        <Navigation />
        <section class="hero">
            <h1>
                <span class="hero__before">Welcome to</span>
                <span>The <em>Modern</em> Web Blog</span>
            </h1>
        </section>
        <main>
            <div class="container">
                <section class="posts">
                    <div class="posts_header">
                        <h2 class="posts__title">Posts</h2>
                        <div class="posts__arrow">
                            <ArrowDown />
                        </div>
                    </div>
                    <div class="posts__grid">
                        {
                            posts.map((post) => (
                                <article class="card">
                                    <img
                                        src={post.data.cover}
                                        alt="JSDoc Typing"
                                        class="card-img"
                                    />
                                    <div class="card__content flow-content">
                                        <h2 class="card-title">
                                            Boost Your JavaScript with JSDoc
                                            Typing
                                        </h2>
                                        <p class="card-description">
                                            Explore my in-depth guide on
                                            leveraging JSDoc to enhance your
                                            JavaScript code with robust typing.
                                            Boost code quality, maintainability,
                                            and developer productivity with this
                                            powerful tool.
                                        </p>
                                        <a
                                            class="btn card-button"
                                            aria-label="Read more about Boost Your JavaScript with JSDoc Typing"
                                            href={`/posts/${post.slug}`}
                                        >
                                            Read more
                                        </a>
                                    </div>
                                </article>
                            ))
                        }
                    </div>
                </section>
            </div>
        </main>
        <Footer />

        <style>
            /* HERO */

            .hero {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                text-align: center;
                height: calc(100vh - var(--header-height) * 2);
            }

            .hero h1 {
            }

            @media (min-width: 768px) {
                .hero h1 {
                    transform: translateY(calc(-0.5 * var(--header-height)));
                }
            }

            .hero__before {
                display: block;
                font-size: var(--p-font-size);
                color: var(--color-gray-500);
            }

            .posts_header {
                height: var(--header-height);
                display: flex;
                flex-direction: column;
            }

            .posts__arrow {
                margin: var(--padding-small) auto;
                display: block;
            }
        </style>
        <script>
            import "../scripts/background.ts";
        </script>
    </body>
</html>
