---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import LandingPageBackground from "../components/LandingPageBackground.astro";

import Head from "../components/Head.astro";
---

<html lang="en">
    <head>
        <Head />
        <title>Webry | The modern web blog</title>
    </head>
    <body class="noise-wrapper">
        <div class="noise"></div>
        <LandingPageBackground />
        <Navigation />
        <main>
            <article class="flow-content">
                <a href={`/posts/boost-your-javascript-with-jsdoc-typing/`}>
                    <h2 class="text-heading">Blog coming soon</h2>
                </a>
                <p>
                    This is a new blog site about the modern web. I will be writing about
                    topics like web development, web design, and web performance.
                </p>
                <a
                    class="btn text-button"
                    href={`/posts/boost-your-javascript-with-jsdoc-typing/`}
                >
                    Read More
                </a>
            </article>
        </main>

        <style>
            article {
                text-align: center;
                max-width: 600px;
                margin: 30vh auto 0 auto;
            }
        </style>
        <script>
            import "../scripts/background.ts";
        </script>
    </body>
</html>
