---
import "../styles/global.css";

import Navigation from "../components/Navigation.astro";
import Head from "../components/Head.astro";
import { getCollection } from "astro:content";
import Analytics from "../components/Analytics.astro";
import Footer from "../components/Footer.astro";
import ArrowDown from "../components/icons/ArrowDown.astro";

const posts = await getCollection("blog");
---

<html lang="en">
    <head>
        <Head />
        <title>Webry's Posts</title>
        <meta
            name="description"
            content="Discover Webry's latest posts on web development, JavaScript, and more."
        />
        <Analytics />

        <style>
            body {
                text-align: center;
            }

            main {
                margin-top: 6rem;
            }
        </style>
    </head>
    <body>
        <Navigation />
        <main class="container">
            <section class="flow-content-big">
                <h1>Posts</h1>
                <section class="posts">
                    <div class="posts__grid">
                        {
                            posts.map((post) => (
                                <article class="card">
                                    <img
                                        src={post.data.cover}
                                        alt="JSDoc Typing"
                                        class="card-img"
                                    />
                                    <div class="card__content flow-content">
                                        <h2 class="card-title">
                                            Boost Your JavaScript with JSDoc
                                            Typing
                                        </h2>
                                        <p class="card-description">
                                            Explore my in-depth guide on
                                            leveraging JSDoc to enhance your
                                            JavaScript code with robust typing.
                                            Boost code quality, maintainability,
                                            and developer productivity with this
                                            powerful tool.
                                        </p>
                                        <a
                                            class="btn card-button"
                                            aria-label="Read more about Boost Your JavaScript with JSDoc Typing"
                                            href={`/posts/${post.slug}`}
                                        >
                                            Read more
                                        </a>
                                    </div>
                                </article>
                            ))
                        }
                    </div>
                </section>
            </section>
        </main>
        <Footer />
    </body>
</html>
