---
import "../styles/global.css";

import Navigation from "../components/Navigation.astro";
import Head from "../components/Head.astro";
import { getCollection } from "astro:content";
import Analytics from "../components/Analytics.astro";
import Footer from "../components/Footer.astro";

const unsortedPosts = await getCollection("blog");
const posts = unsortedPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<html lang="en">
    <head>
        <Head />
        <title>Webry's Posts</title>
        <meta
            name="description"
            content="Discover Webry's latest posts on web development, JavaScript, and more."
        />
        <link rel="canonical" href="https://www.webry.com/posts/" />
        <Analytics />

        <style>
            body {
                text-align: center;
            }

            main {
                margin-top: 6rem;
            }
        </style>
    </head>
    <body>
        <Navigation />
        <main class="container">
            <section class="flow-content-big">
                <h1>POSTS</h1>
                <section class="posts">
                    <div class="posts__grid">
                        {
                            posts.map((post) => (
                                <article class="card" itemtype="http://schema.org/BlogPosting">
                                    <img
                                        src={post.data.cover}
                                        alt="JSDoc Typing"
                                        class="card-img"
                                        itemprop="image"
                                    />
                                    <div class="card__content flow-content">
                                        <h2 class="card-title">
                                            {post.data.title}
                                        </h2>
                                        <p class="card-description">
                                            {post.data.share.description}
                                        </p>
                                        <a
                                            class="btn card-button"
                                            aria-label="Read more about Boost Your JavaScript with JSDoc Typing"
                                            href={`/posts/${post.slug}`}
                                        >
                                            Read more
                                        </a>
                                    </div>
                                </article>
                            ))
                        }
                    </div>
                </section>
            </section>
        </main>
        <Footer />
    </body>
</html>
