---
import CoffeeIcon from "./icons/CoffeeIcon.astro";
import GitHubIcon from "./icons/GithubIcon.astro";
---

<footer>
    <div class="container">
        <ul class="footer__rights">
            <li>
                &copy; {new Date().getFullYear()} Webry
            </li>
            <li class="flex-spacer"></li>
            <li>
                <a href="https://github.com/MindLaborDev/blog" target="_blank" rel="noopener noreferrer">
                    <GitHubIcon />
                </a>
            </li>
            <li>
                <a href="https://ko-fi.com/samuelbraun" target="_blank" rel="noopener noreferrer">
                    <CoffeeIcon />
                </a>
            </li>
            <li>
                <a href="/privacy">Privacy</a>
            </li>
            <li>
                <a href="/terms">Terms</a>
            </li>
        </ul>
    </div>
</footer>
<style>
    footer {
        background: var(--hero-bg);
        color: var(--color-white);
        margin-top: 3rem;
    }

    .footer__rights {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--padding-big);
        padding: var(--padding-big) 3rem;
        list-style: none;
    }
</style>
