---
---

<footer>
    <div class="container">
        <ul class="footer__rights">
            <li>
                &copy; {new Date().getFullYear()} Webry
            </li>
            <li class="flex-spacer"></li>
            <li>
                <a href="/privacy">Privacy</a>
            </li>
            <li>
                <a href="/terms">Terms</a>
            </li>
        </ul>
    </div>
</footer>
<style>
    .footer__rights {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--padding-big);
        padding: var(--padding-big) 0;
        list-style: none;
    }
</style>
