<meta charset="utf-8" />
<link rel="icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;900&display=swap"
/>
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;900&display=swap"
/>
<script defer>
document.addEventListener("DOMContentLoaded", () => {
    // Load the Noto Color Emoji font
    const fontLink = document.createElement("link");
    fontLink.href =
        "https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap";
    fontLink.rel = "stylesheet";
    document.head.appendChild(fontLink);

    // Regex pattern to match emojis
    const emojiPattern =
        /([\u{1F600}-\u{1F64F}\u{1F300}-\u{1F5FF}\u{1F680}-\u{1F6FF}\u{1F700}-\u{1F77F}\u{1F780}-\u{1F7FF}\u{1F800}-\u{1F8FF}\u{1F900}-\u{1F9FF}\u{1FA00}-\u{1FA6F}\u{1FA70}-\u{1FAFF}\u{2600}-\u{26FF}\u{2700}-\u{27BF}])/gu;

    // Wrap emojis in a span with the noto-emoji class
    document.body.innerHTML = document.body.innerHTML.replace(
        emojiPattern,
        '<span class="noto-emoji">$1</span>'
    );
});
</script>
