---
---

<div class="page-background">
    <svg
        width="1440"
        height="1024"
        viewBox="0 0 1440 1024"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="landing-page-background landing-page-background-desktop"
        preserveAspectRatio="xMidYMid slice"
    >
        <g clip-path="url(#clip0_14_318)">
            <rect width="1440" height="1024" fill="white"></rect>
            <g filter="url(#filter0_f_14_318)">
                <ellipse
                    cx="149.99"
                    cy="150.012"
                    rx="149.99"
                    ry="150.012"
                    transform="matrix(-0.965915 -0.258859 0.258779 -0.965937 1211.05 422.699)"
                    fill="black"></ellipse>
                <ellipse
                    cx="542.973"
                    cy="378.994"
                    rx="126.973"
                    ry="126.994"
                    fill="black"></ellipse>
                <ellipse
                    cx="165.218"
                    cy="165.245"
                    rx="165.218"
                    ry="165.245"
                    transform="matrix(0.998117 0.061331 0.0613106 -0.998119 142 501.847)"
                    fill="black"></ellipse>
                <ellipse
                    cx="135.012"
                    cy="135.035"
                    rx="135.012"
                    ry="135.035"
                    transform="matrix(0.965926 0.258819 0.258799 -0.965931 370 242.346)"
                    fill="black"></ellipse>
                <ellipse
                    cx="117.385"
                    cy="117.402"
                    rx="117.385"
                    ry="117.402"
                    transform="matrix(0.976158 0.217061 0.216992 -0.976173 223 941.412)"
                    fill="black"></ellipse>
            </g>
            <g style="mix-blend-mode:color-dodge">
                <rect
                    x="1.49561"
                    y="-50.6862"
                    width="1509.01"
                    height="1122.37"
                    fill="#878787"></rect>
            </g>
            <g style="mix-blend-mode:color-burn">
                <rect
                    x="1.49561"
                    y="-50.6862"
                    width="1509.01"
                    height="1122.37"
                    fill="white"></rect>
            </g>
            <g style="mix-blend-mode:screen">
                <rect
                    width="1999.44"
                    height="1487.14"
                    transform="translate(-243.718 -233.072)"
                    fill="url(#paint0_linear_14_318)"></rect>
            </g>
        </g>
        <defs>
            <filter
                id="filter0_f_14_318"
                x="-100"
                y="-162"
                width="1640"
                height="1286"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
            >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="BackgroundImageFix"
                    result="shape"></feBlend>
                <feGaussianBlur
                    stdDeviation="50"
                    result="effect1_foregroundBlur_14_318"></feGaussianBlur>
            </filter>
            <linearGradient
                id="paint0_linear_14_318"
                x1="999.719"
                y1="240.436"
                x2="999.719"
                y2="1309.04"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#38BB22"></stop>
                <stop offset="1" stop-color="#DBFF00"></stop>
            </linearGradient>
            <clipPath id="clip0_14_318">
                <rect width="1440" height="1024" fill="white"></rect>
            </clipPath>
        </defs>
    </svg>

    <svg
        viewBox="0 0 360 667"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="landing-page-background landing-page-background-mobile"
        preserveAspectRatio="xMidYMid slice"
    >
        <g clip-path="url(#clip0_18_354)">
            <rect width="360" height="667" fill="white"></rect>
            <g filter="url(#filter0_f_18_354)">
                <ellipse
                    cx="121.656"
                    cy="121.674"
                    rx="121.656"
                    ry="121.674"
                    transform="matrix(-0.965915 -0.258859 0.258779 -0.965937 201.188 755.715)"
                    fill="black"></ellipse>
                <ellipse
                    cx="181.973"
                    cy="200.994"
                    rx="126.973"
                    ry="126.994"
                    fill="black"></ellipse>
                <ellipse
                    cx="104.816"
                    cy="104.832"
                    rx="104.816"
                    ry="104.832"
                    transform="matrix(0.976158 0.217061 0.216992 -0.976173 182 452.781)"
                    fill="black"></ellipse>
            </g>
            <g style="mix-blend-mode:color-dodge">
                <rect
                    x="1.49561"
                    y="-50.6862"
                    width="1509.01"
                    height="1122.37"
                    fill="#878787"></rect>
            </g>
            <g style="mix-blend-mode:color-burn">
                <rect
                    x="1.49561"
                    y="-50.6862"
                    width="1509.01"
                    height="1122.37"
                    fill="white"></rect>
            </g>
            <g style="mix-blend-mode:screen">
                <rect
                    width="1999.44"
                    height="1487.14"
                    transform="translate(-243.718 -233.072)"
                    fill="url(#paint0_linear_18_354)"></rect>
            </g>
        </g>
        <defs>
            <filter
                id="filter0_f_18_354"
                x="-173"
                y="-100"
                width="746.819"
                height="955.715"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
            >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="BackgroundImageFix"
                    result="shape"></feBlend>
                <feGaussianBlur
                    stdDeviation="50"
                    result="effect1_foregroundBlur_18_354"></feGaussianBlur>
            </filter>
            <linearGradient
                id="paint0_linear_18_354"
                x1="999.719"
                y1="240.436"
                x2="999.719"
                y2="1309.04"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#38BB22"></stop>
                <stop offset="1" stop-color="#DBFF00"></stop>
            </linearGradient>
            <clipPath id="clip0_18_354">
                <rect width="360" height="667" fill="white"></rect>
            </clipPath>
        </defs>
    </svg>
</div>

<style>
    .page-background {
        position: absolute;
        inset: 0;
        z-index: -2;
    }

    .landing-page-background {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        height: 100lvh;
    }

    @media (min-width: 992px) {
        .landing-page-background-mobile {
            display: none;
        }
    }
</style>
<script>
    const MIN_OPACITY = 0.36;
    const MAX_OPACITY = 1;
    const FADE_IN_DISTANCE = window.innerHeight * 0.75;

    document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener("scroll", onScroll);
        onScroll();
    });

    function onScroll() {
        const backgroundElement: HTMLDivElement | null =
            document.querySelector(".page-background");
        if (backgroundElement) {
            backgroundElement.style.opacity = Math.min(
                MAX_OPACITY,
                Math.max(MIN_OPACITY, 1 - window.scrollY / FADE_IN_DISTANCE)
            ).toString();
        } else {
            console.error("No background element found");
        }
    }
</script>
