---
const devtoId = Astro.props.devtoId;
---

<div class="likes" devto-id={devtoId}>
    <div class="likes-value mr-1"></div>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="#0e0e0e"
        stroke="#0e0e0e"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-heart inline-block"
        ><path
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
        ></path></svg
    >
</div>
<script is:inline>
window.onLoad(() => {
    const devtoId = document
        .querySelector(".likes")
        ?.getAttribute("devto-id");
    const likesValue = document.querySelector(".likes-value");
    const likes = document.querySelector(".likes");
    if (!devtoId || !likesValue || !likes) {
        throw new Error("No devtoId or likesValue or likes");
    }

    fetch(`https://dev.to/api/articles/${devtoId}`)
        .then((response) => response.json())
        .then((data) => {
            likesValue.textContent = data.positive_reactions_count;
            likes.style.display = "inline-flex";
        });
});
</script>
<style>
    .likes {
        display: flex;
        display: none;
        align-items: center;
        gap: 0.25rem;
        font-size: 1.125em;
    }
</style>
