---
---

<div class="navigation">
    <nav class="container">
        <ul class="nav-header">
            <li>
                <a href="/">
                    <picture>
                        <source
                            media="(max-width: 479px)"
                            srcset="/assets/branding/logo-dark.svg"
                        />
                        <source
                            media="(min-width: 480px)"
                            srcset="/assets/branding/logo-dark-long.svg"
                        />
                        <img
                            height="40"
                            class="nav-header__logo"
                            src="/assets/branding/logo-dark-long.svg"
                            alt="Logo"
                        />
                    </picture>
                </a>
            </li>
            <li class="flex-spacer"></li>
            <li><a href="/articles/">Articles</a></li>
            <li class="hide-mobile"><a href="/about/">Who am i</a></li>
            <li class="hide-non-mobile"><a href="/about/">About</a></li>
        </ul>
    </nav>
</div>

<style>
    .navigation {
        background: var(--hero-bg);
        color: var(--color-white);
    }

    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        gap: var(--padding-big);
        height: var(--header-height);
        margin: 0 3rem;
        text-transform: uppercase;
    }
</style>
