---
---

<div class="nav-links">
    <a href="/" class="text-logo">Webry</a>
    <div class="flex-spacer"></div>
    <a href="/about/">About</a>
</div>

<style>
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
    }
</style>